Source: indicator-sysmonitor
Section: gnome
Priority: extra
Maintainer: Ubuntu MOTU Team <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Alex Eftimie <alex@eftimie.ro>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: python
Standards-Version: 4.0.0
XS-Python-Version: all

Package: indicator-sysmonitor
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-psutil, curl, gir1.2-appindicator3-0.1
Suggests: netcat, hddtemp, lm-sensors
Description: System Monitor Indicator
 Display cpu and memory usage as percents with an indicator applet.

Package: budgie-sysmonitor-applet
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-psutil, curl
Suggests: netcat, hddtemp, lm-sensors
Description: System Monitor Budgie Applet
 Display cpu and memory usage as percents in a budgie desktop applet.

