Source: indicator-sysmonitor
Section: gnome
Priority: extra
Maintainer: Ubuntu MOTU Team <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Alex Eftimie <alex@eftimie.ro>
Build-Depends: debhelper (>= 7), cdbs
Build-Depends-Indep: python
Standards-Version: 3.9.5
XS-Python-Version: all

Package: indicator-sysmonitor
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-psutil, python-appindicator
Suggests: netcat, hddtemp, lm-sensors
Description: System Monitor Indicator
 Display cpu and memory usage as percents with an indicator applet.
